body {
    background-image: url('BackGround/R.gif');
    background-size: 19%;
    background-position: center;
    background-color: rgb(0, 0, 0);
    height: 25cm;
    overflow: hidden;
    font-family: "Sixtyfour";
}

.meme1 { /*gato no sofá*/
    width: 9.5%;
    border-radius: 10px;
    position: relative;
    left: 8.3cm;
    top: 4cm;
}

.meme2 { /*miudo na árvore a cair */
    width: 12%;
    border-radius: 10px;
    position: relative;
    left: 2.5cm;
    top: 12.5cm;

}

.meme3 { /*minion */
    width: 11%;
    border-radius: 10px;
    position: relative;
    left: 6cm;
    top: 3.5cm;
}

.meme4 { /*pai natal  */
    width: 13%;
    border-radius: 10px;
    position: relative;
    left: -0.5cm;
    top: 12cm;
}

.meme5 { /*cão*/
    width: 13%;
    border-radius: 10px;
    position: relative;
    left: 2.2cm;
    top: 2.5cm;
}

.meme6 { /*gato boca aberta */
    width: 12%;
    border-radius: 10px;
    position: relative;
    left: -4.5cm;
    top: 12cm;
}

.meme7 { /*gato boca aberta*/
    width: 11%;
    border-radius: 10px;
    position: relative;
    left: -1.2cm;
    top: 3.5cm;
}


.meme8 { /**/
    width: 9.5%;
    border-radius: 10px;
    position: relative;
    left: -6.6cm;
    top: 15cm;
}


.tag {
    font-size: 10px;
    color:white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 32cm;
}