body {
    background-image: url('BackGround/R.gif');
    background-size: 19%;
    background-position: center;
    background-color: rgb(0, 0, 0);
    height: 25cm;
    overflow: hidden;
    font-family: "Sixtyfour";
}


a {
    text-decoration: none;
}


.meme1 { /*gato no sofá*/
    width: 9.5%;
    border-radius: 10px;
    position: relative;
    left: 8.3cm;
    top: 4cm;
}

.meme2 { /*miudo na árvore a cair */
    width: 12%;
    border-radius: 10px;
    position: relative;
    left: 2.5cm;
    top: 12.5cm;

}

.meme3 { /*minion */
    width: 11%;
    border-radius: 10px;
    position: relative;
    left: 6cm;
    top: 3.5cm;
}

.meme4 { /*pai natal  */
    width: 13%;
    border-radius: 10px;
    position: relative;
    left: -0.5cm;
    top: 12cm;
}

.meme5 { /*cão*/
    width: 13%;
    border-radius: 10px;
    position: relative;
    left: 2.2cm;
    top: 2.5cm;
}

.meme6 { /*gato boca aberta */
    width: 12%;
    border-radius: 10px;
    position: relative;
    left: -4.5cm;
    top: 12cm;
}

.meme7 { /*gato boca aberta*/
    width: 11%;
    border-radius: 10px;
    position: relative;
    left: -1.2cm;
    top: 3.5cm;
}


.meme8 { /**/
    width: 9.5%;
    border-radius: 10px;
    position: relative;
    left: -6.6cm;
    top: 15cm;
}


.tag {
    font-size: 10px;
    color:white;
    position: absolute;
    left: 35%;
    top: 96%;
}


@media (max-width: 800px) {
    body {
        background-size: 38%;
        overflow-x: auto;
        overflow-y: hidden;
    }

    .meme1 {
        position: absolute;
        max-width: 100px;
        left: 19.5%;
        top: 8%;
        width: 22%;
    }


    .meme2 {
        max-width: 100px;
        position: absolute;
        left: 18%;
        top: 29%;
        width: 30%;
    }

    .meme3 {
        max-width: 100px;
        position: absolute;
        left: 57%;
        top: 9%;
        width: 25%;
    }

    .meme4 {
        max-width: 100px;
        position: absolute;
        left: 19%;
        top: 48%;
        width: 50%;
        scale: 125%;
    }

    .meme5 {
        max-width: 100px;
        position: absolute;
        left: 57%;
        top: 29.5%;
        width: 40%;
        scale: 110%;
    }

    .meme6 {
        max-width: 100px;
        position: absolute;
        left: 18.5%;
        top: 67%;
        width: 50%;
        scale: 105%;
    }

    .meme7 {
        max-width: 100px;
        position: absolute;
        left: 56.5%;
        top: 46.5%;
        width: 40%;
    }

    .meme8 {
        max-width: 100px;
        position: absolute;
        left: 59%;
        top: 65%;
        width: 20%;
    }

    .tag {
        font-size: 6px;
        left: 0.5cm;
    }
}