body {
    background-image: url('BackGround/R.gif');
    background-size: 15%;
    background-position: center;
    background-color: rgb(0, 0, 0);
    height: 25cm;
    overflow: hidden;
    font-family: "Sixtyfour";
}

.meme1 {
    padding: 10px 20px;
    width: 5%;
}