body {
    background-image: url('BackGround/R.gif');
    background-size: 19%;
    background-position: center;
    background-color: rgb(0, 0, 0);
    height: 25cm;
    overflow: hidden;
    font-family: "Sixtyfour";
}

.meme1 { /*gato no sofá*/
    width: 5%;
    border-radius: 10px;
    position: relative;
    left: 9cm;
    top: 5cm;
}

.meme2 { /*miudo na árvore a cair */
    width: 5%;
    border-radius: 10px;
    position: relative;
    left: 6.2cm;
    top: 15cm;

}

.meme3 { /*minion */
    width: 5%;
    border-radius: 10px;
    position: relative;
    left: 13cm;
    top: 5cm;
}

.meme4 { /*pai natal  */
    width: 5%;
    border-radius: 10px;
    position: relative;
    left: 10cm;
    top: 15cm;
}

.meme5 { /*cão*/
    width: 5%;
    border-radius: 10px;
    position: relative;
    left: 17cm;
    top: 5cm;
}

.meme6 { /*gato boca aberta */
    width: 5%;
    border-radius: 10px;
    position: relative;
    left: 14cm;
    top: 15cm;
}

.meme7 { /*gato boca aberta*/
    width: 5%;
    border-radius: 10px;
    position: relative;
    left: 21cm;
    top: 5cm;
}



.meme8 { /**/
    width: 5%;
    border-radius: 10px;
    position: relative;
    left: 18cm;
    top: 15cm;
}