body {
    background-image: url('BackGround/R.gif');
    background-size: 19%;
    background-position: center;
    background-color: rgb(0, 0, 0);
    height: 25cm;
    overflow: hidden;
    font-family: "Sixtyfour";
}

.meme1 {
    width: 5%;
    
}

.meme2 {
    width: 5%;
}

.meme3 {
    width: 5%;
}

.meme4 {
    width: 5%;
}

.meme5 {
    width: 5%;
}

.meme6 {
    width: 5%;
}

.meme7 {
    width: 5%;
}


.meme8 {
    width: 5%
}